<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<properties>
		<property name="Filename">logs/RawrBot.log</property>
	</properties>
	<ThresholdFilter level="trace"/>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss}] %msg%n"/>
		</Console>
		<Console name="Normal">
			<PatternLayout pattern="[%d{HH:mm:ss}] %msg%n"/>
			<Filters>
				<MarkerFilter marker="LOG_EVENT" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
		</Console>
		<File name="File" fileName="logs/RawrBot.log" immediateFlush="true">
			<PatternLayout pattern="[%d{HH:mm:ss}] %msg%n"/>
		</File>
		<!-- <Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="File" fileName="logs/RawrBot.log">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</File> -->
	</appenders>
	<loggers>
		<logger name="net.a1337ism.RawrBot" level="trace" additivity="false">
			<appender-ref ref="File" />
			<appender-ref ref="Console"/>
		</logger>
		<root level="error">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>